*{
    box-sizing: border-box !important;
}
.sidebar {
    position: fixed;
    top: 54px;
    height: 100vh !important;
    background-color: #878787 !important;
}
.sidebar li {

    padding: 10px 5px;
    text-align: center;
}
.main-sid {
    margin-left: 16.5%;
    margin-top: 6% !important;
}
